*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'pixel';
  src: url('../fonts/PixeloidMono-d94EV.ttf') format('truetype')
}

@font-face {
  font-family: 'pixel-type';
  src: url('../fonts/pixel_font/MinecraftTenfontcyrillic.eot');
  src: url('../fonts/pixel_font/MinecraftTenfontcyrillic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pixel_font/MinecraftTenfontcyrillic.woff2') format('woff2'),
  url('../fonts/pixel_font/MinecraftTenfontcyrillic.woff') format('woff'),
  url('../fonts/pixel_font/MinecraftTenfontcyrillic.ttf') format('truetype');
}


$theme1: #594b40;
$theme4: #756355;
$theme2: #7a824a;
$theme3: #7a824a;
$theme5: #DCE1C3;
$text: #DCE1C3;

body {
  margin: 0;
  background: $theme1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: $theme3;
  user-select: none;
}

html, body, #app, #main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

img {
  image-rendering: pixelated;
}

.debug {
  &-data {

    position: absolute;
    bottom: 40px;
    width: 100%;
  }
  &-ui {
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 10px;
  }
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.centered {
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 20px;
  /*perspective: 1000px;*/
}


.card-wrap {
  position: relative;
  display: flex;
  aspect-ratio: 1;
  //transition: 0.1s all ease-in;

  &.active {
    background: $theme3;
  }
}

.card {
  /*background: #7e4d27;*/
  display: flex;
  justify-content: start;
  //height: 85px;
  font-size: 40px;
  position: relative;
  width: 100%;
  z-index: 3;
  font-family: 'pixel', sans-serif;
  color: $theme5;

  &-side {
    width: 10%;
    height: 100%;
    /*background-image: url("../images/textures/gold.png");*/
    background: $theme2;
  }

  &-body {
    width: 100%;
    height: 100%;
    /*display: flex;*/
    /*justify-content: center;*/
    /*background: #8f4e1a;*/
  }

  &-img {
    width: 100%;
    height: 100%;
    /*height: 64px;*/
    /*width: 64px;*/
    /*margin-left: 20%;*/
    /*margin: auto;*/
    image-rendering: pixelated;
    /*width: 100%;*/
    /*height: 100%;*/
    background-image: url("../images/textures/brick.png");
    /*background-repeat: no-repeat;*/
    background-size: cover;
    //background-size: 64px;
    /*background-position: center center;*/
    /*position: absolute;*/
    /*top: 18%;*/
    /*left: 25%*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &-icon {
    height: 64px;
    width: 64px;
    /*margin: auto;*/
    image-rendering: pixelated;
    /*width: 100%;*/
    /*height: 100%;*/
    background-size: 64px;
    background-repeat: no-repeat;
  }

  &-value {
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 24px;
  }
}




.statistics {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 20px;
  background: $theme4;

  &-hp {
    font-size: 16px;
  }

  &-portrait {
    width: 48px;
    height: 48px;
    background: url("../images/portraits/man.png");
    background-size: cover;
    image-rendering: pixelated;
  }
}

.hand {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 20px;
}


.next-turn {
  background: $theme3;
  width: 48px;
  height: 100%;
  color: $theme1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 30%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 2px solid #3b2722;
  background-color: #7e4d27;
  cursor: pointer;
  color: #dbc2a3;
}


.slider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider .card {
  width: 150px!important;
  height: 150px!important;
}

.slider-control {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.row {
  margin-top: 20px;
  width: 100%;
  display: flex;
}

.in-use {
  gap: 30px;
}

.in-use .card {
  width: 85px!important;
  height: 85px!important;
}

.bg {
  background-size: 64px;
  image-rendering: pixelated;
}

.bg-dungeon {
  background-image: url("../images/textures/gravel.png");
}
.bg-sea {
  background-image: url("../images/textures/sea.png");
}
.bg-hell {
  background-image: url("../images/textures/hell.png");
}

.bg-wall {
  background-image: url("../images/map_preview/leaves.png");
}

.map {
  font-family: 'pixel-type', sans-serif;
  position: relative;

  .header-dungeon {
    background-image: url("../images/map_preview/leaves.png");
    color: $text;
  }
  .header-sea {
    background-image: url("../images/map_preview/sea_header.png");
    color: #b7dcdf;
  }
  .header-hell {
    background-image: url("../images/map_preview/hell_header.png");
    color: #e77373;
  }

  .sep-dungeon {
    background-image: url("../images/map_preview/grass.png");
  }
  .sep-sea {
    background-image: url("../images/map_preview/sea_sep.png");
  }
  .sep-hell {
    background-image: url("../images/map_preview/hell_sep.png");
  }

  .header {
    width: 100%;
    height: 15%;
    background-size: 64px;
    image-rendering: pixelated;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;

    position: relative;

    .title {
      font-size: 28px;
    }


    .sep {
      width: 200%;
      height: 31px;
      image-rendering: pixelated;
      position: absolute;
      background-size: contain;

      &-top {
        top: -10px;
        transform: scaleY(-1);
      }

      &-bot {
        bottom: -10px;
      }
    }
  }


  .m1 {
    width: 64px;
    height: 64px;
    position: relative;
  }

  .markers {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    gap: 30px;
    width: 100%;
    align-items: center;
  }

  .marker {
    image-rendering: pixelated;
    &-skull {
      width: 64px;
      height: 64px;
      background-size: 64px;
      background-image: url("../images/map_preview/skull.png")
    }
    &-chest {
      width: 100px;
      height: 64px;
      background-size: cover;
      background-image: url("../images/map_preview/chest.png")
    }
  }
}

@keyframes Animation {
  0%{background-position: 0 0}
  100%{background-position: 110% 0}
}

.bg-rainbow {
  animation: Animation 10s linear infinite;
  position: absolute;
  background: linear-gradient(
                  90deg,
                  rgba(255, 0, 0, 1) 0%,
                  rgba(255, 154, 0, 1) 10%,
                  rgba(208, 222, 33, 1) 20%,
                  rgba(79, 220, 74, 1) 30%,
                  rgba(63, 218, 216, 1) 40%,
                  rgba(47, 201, 226, 1) 50%,
                  rgba(28, 127, 238, 1) 60%,
                  rgba(95, 21, 242, 1) 70%,
                  rgba(186, 12, 248, 1) 80%,
                  rgba(251, 7, 217, 1) 90%,
                  rgba(255, 0, 0, 1) 100%
  );
  background-size: 1000% 100%;
  transform: skewX(20deg) scaleX(3);
}

.box-opener {

  position: relative;
  image-rendering: pixelated;

  .ground {
    position: absolute;
    z-index: 1;
    bottom: -160px;
    border-radius: 200px;
    box-shadow: -22px 0px 14px -1px rgba(0, 0, 0, 0.10) inset,
              22px 0px 14px -1px rgba(219, 190, 187, 0.15) inset;
  }

  .spiral {
    background-size: cover;
    image-rendering: pixelated;
    position: absolute;
    &-1 {
      background-image: url("../images/map_preview/spiral1.gif");
      width: 1025px;
      height: 1025px;
      opacity: 0.3;
    }

    &-2 {
      background-image: url("../images/map_preview/spiral2.gif");
      width: 412px;
      height: 412px;
      opacity: 0.9;
      transform: scaleX(-1);
    }
  }

  .salut {
    background-image: url("../images/map_preview/salut.gif");
    background-size: cover;
    image-rendering: pixelated;
    position: absolute;
    width: 46px;
    height: 46px;
    opacity: 0.8;

    &-hide {
      opacity: 0;
    }

    &-1 {
      top: 30%;
      left: 45%;
    }

    &-2 {
      top: 33%;
      right: 24%;
    }

    &-3 {
      top: 39%;
      right: 10%;
    }

    &-4 {
      top: 33%;
      left: 24%;
    }
    &-5 {
      top: 39%;
      left: 10%;
    }
  }
  .box {
    position: relative;
    width: 220px;
    height: 140px;
    z-index: 3;

    .sprite {
      background-size: cover;
      image-rendering: pixelated;
      position: absolute;
    }

    &-front {
      background-image: url("../images/map_preview/chest.png");
      z-index: 2;
      width: 220px;
      height: 140px;
    }



  }

  .explosion {
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: url("../images/map_preview/explosion.gif");
    image-rendering: pixelated;
    background-size: cover;
    z-index: 10;

  }

}

